<div ng-controller="ViewNotesController" class="pure-g">
    <div class="search-box pure-u-5-5">
        <input type="text" placeholder="Search Note" ="Search Notes" ng-model="noteText"/>
    </div>
    <div class="add-node-box pure-u-5-5">
    	<input type="text" name="newNote" value="" placeholder="Add Note" ng-click="fnAddNoteMain()"/>
    </div>
    <div class="wrapper-box pure-u-5-5">
    	<div class="wrapper-main pure-u-5-5">
    		<span>Add new Note</span>
            <input type="text" name="newNoteId" id="newNoteId" value="" placeholder="Note Id" style="display: none;" /><br/><br/>
    		<input type="text" name="newNoteName" id="newNoteNameID" value="" placeholder="Note name"/><br/><br/>
    		<input type="text" name="newNoteDesc" value="" placeholder="Note Desc" /><br/><br/>
    		<input type="text" name="newNoteTime" value="" placeholder="Remind Me.." /><br/><br/>
    		<input type="button" value="Add" ng-click="fnAddNote()" />
    		<input type="button" value="Close" ng-click="closeMe()" />
    	</div>
    </div>
	<div class="note bg-red pure-u-4-24" ng-repeat="note in NoteData | filter : noteText" ng-dblclick="EditNote(note.id)" data-id="{{note.id}}" ng-style="{{note.color}}" >
		<!--span class="note-name d-note{{note.id}}" ng-style="{{note.color}}">{{note.name}}</span-->
        <input type="text" name="txtNoteName" id="txtNoteName" disabled="disabled" class="editNote e-note{{note.id}}" value="{{note.name}}" ng-style="{{note.color}}"/>
        <br />
		<!--span class="note-desc d-note{{note.id}}">{{note.desc}}</span-->
        <input type="text" name="txtNoteDesc" id="txtNoteDesc" disabled="disabled" class="editNote e-note{{note.id}}" value="{{note.desc}}" ng-style="{{note.color}}
        "/>
        <span class="close-btn" ng-click="DeleteNote(note.id)"><img src="img/close.svg"></span>
	</div>
</div>